<!-- Import Style Sheets-->
<link href="<%= url('/home.css') %>" rel="stylesheet" type="text/css" />
<link href="<%= url('/text.css') %>" rel="stylesheet" type="text/css" />

<!-- Put into the center of the page, set font to pencil, and size to large-->
<div class="centered pencil large">
    <!-- Title -->
    <h2> MakersBnB </h2>

    <!-- Float the button to the left, and pad it-->
    <div style='float: left; padding: 5px;'>
        <form action='/sign-up' >
            <button class="button_50"> Sign Up </button>
        </form>
    </div>

    <!-- Float the button to the right, and pad it-->
    <div style='float: right; padding: 5px;'>
        <form action='/login' >
            <button class="button_50"> Login </button>
        </form>
    </div>
    
</div>





