<link href="<%= url('/home.css') %>" rel="stylesheet" type="text/css" />
<link href="<%= url('/text.css') %>" rel="stylesheet" type="text/css" />

<div class="centered pencil large">
    <h1 class = "large"> MakersBnB <h2>
    <div style='float: left; padding: 5px;'>
        <form action='/sign-up' >
            <button class="button_50"> Sign Up </button>
        </form>
    </div>

    <div style='float: right; padding: 5px;'>
        <form action='/login' >
            <button class="button_50"> Login </button>
        </form>
    </div>
    
</div>



