<link href="<%= url('/home.css') %>" rel="stylesheet" type="text/css" />
<link href="<%= url('/text.css') %>" rel="stylesheet" type="text/css" />

<div class="bg-text pencil">
    <h1 class = "large"> Login <h2>
    <form action='/login-query' method="post">
        <input style="padding: 7px 14px;" type="text" size=30 maxlength=29 name="username" placeholder="username">
        <input style="padding: 7px 14px;" type="text" size=30 maxlength=29 name="password" placeholder="password">
        <br/>
        <br/>
        <input type="submit" name="Submit"> 
    </form>
    
    <p style="padding: 14px 28px; font-size:20px"> Don't have a login? <a href="/sign-up"><i>Sign up</i></a> instead. </p>


    
</div>



