<link href="<%= url('/sidebar.css') %>" rel="stylesheet" type="text/css" />
<link href="<%= url('/home.css') %>" rel="stylesheet" type="text/css" />
<link href="<%= url('/search.css') %>" rel="stylesheet" type="text/css" />

<style>
  .transbox {
      margin: 30px;
      background-color: #ffffff;
      border: 1px solid black;
      opacity: 0.4;
  }

  .transbox p {
    margin: 5%;
    font-weight: bold;
    color: red;
  }

  .special_h1 {
    margin: 5%;
    font-weight: bold;
    color: black;
  }
  .transbox h2 {
    margin: 5%;
    font-weight: bold;
    color: black;
  }

  .transbox form {
    margin: 5%;
    font-weight: bold;
    color: black;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #221e1e;
    display: block;
  }
</style>

<!-- Side navigation -->
<div class="sidenav">
  <a href="/login">Login</a>
  <a href="/sign-up">Signup</a>
  <a href="/search">All Listings</a>
  <a href="/listings" style="color:#325438;">Your Places</a>
  <a href="/your-bookings">Your Bookings</a>
  <a href="/notifications">Notifications</a>
  <a href="/">Sign Out</a>
</div>

<!-- Main Area -->
<div class="main" >

    <!-- Title -->
    <h1 style="color:#C0C0C0" class="special_h1"> New Listing </h1>

    <!-- Put into a transparent box -->
    <div class="transbox">

      <!-- Post the new stuff -->
      <form action="/listings/new" method="post">

        <h1> Enter your details here </h1>

        <input style="padding: 7px 20px;" type="text" size=30 maxlength=60 name="name" placeholder="Title">

        <!-- Space them out -->
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

        <input style="padding: 7px 25px;" type="number" step="0.01" size=30 maxlength=60 name="price" placeholder="Price">

        <br><br>

        <textarea cols="63" rows="10" name="description" placeholder="Description"></textarea>

        <br><br><br>

        <label for="available"> Available After </label>

        <br><br>

        <input type="date" id="date" name="date"
        value="2020-11-10"
        min="2020-1-1" max="2030-11-10">

        <br><br><br>

        <input type="submit" value="Submit" style="padding: 7px 14px;" name="Submit" id="submit" />
      </form>
    </div>


</div>
