<link href="<%= url('/sidebar.css') %>" rel="stylesheet" type="text/css" />
<link href="<%= url('/home.css') %>" rel="stylesheet" type="text/css" />
<link href="<%= url('/search.css') %>" rel="stylesheet" type="text/css" />


<!-- Side navigation -->
<div class="sidenav">
  <a href="login">Login</a>
  <a href="sign-up">Signup</a>
  <a href="your-places">Your Places</a>
  <a href="your-bookings">Your Bookings</a>
  <a href="notifications">Notifications</a>
</div>

<div class="main" style="color:#C0C0C0">
    <h1> The listings will go here </h1>
</div>