<!-- Import Style Sheets -->
<link href="<%= url('/home.css') %>" rel="stylesheet" type="text/css" />
<link href="<%= url('/text.css') %>" rel="stylesheet" type="text/css" />

<!-- Set Font and put into a box -->
<div class="bg-text pencil">
    <!-- Title -->
    <h1 class = "large"> Sign Up <h2>
    <form action='/signup-query' method="post">

        <!-- Make required, and hide the password box -->
        <input style="padding: 7px 14px;" type="text" size=30 maxlength=29 name="username" placeholder="username" required>
        <input style="padding: 7px 14px;" type="password" size=30 maxlength=29 name="password" placeholder="password" required>
        <br/>
        <br/>
        <input type="submit" name="Submit"> 
    </form>
    
    <!-- Add option to signin if signed up -->
    <p style="padding: 14px 28px; font-size:20px"> Already signed up? <a href="/login"><i>Login</i></a> instead. </p>


    
</div>



